<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 中文官网：http://www.mybatis.org/mybatis-3/zh/index.html -->
<configuration>
	<settings>
		<!-- 开启驼峰命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<!-- 类型别名 -->
	<typeAliases>
		<package name="com.sun123.template.entity" />
	</typeAliases>
	
	<!-- pagehelper，要放在typeAliases后面，否则会报错 -->
	<!-- 官方教程：https://github.com/pagehelper/Mybatis-PageHelper/blob/master/wikis/zh/HowToUse.md -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>
</configuration>
